/*  your css code here. If applicable */
:root {
  background-color: rgb(135, 206, 235);
}

article p:first-child {
  color: white;
  background-color: black;
  padding: 5px;
}

article p:nth-child(2),
article p:nth-child(3) {
  color: #333;
}

article p:last-of-type {
  color: red;
}

ul {
  width: 400px;
  background: white;
  padding: 0;
}

ul li {
  list-style-position: inside;
  padding: 10px;
}

ul li:nth-child(even) {
  background-color: #7d8793;
  color: black;
}

ul li:nth-child(3) {
  background-color: pink;
}

ul li:nth-child(odd):not(:first-child):not(:last-child) {
  background-color: #f5f5f5;
}
